// Font weights
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;

// Base Font
$base-font-family: 'Lato', sans-serif;
$base-font-weight: $light;
$base-font-size: 12px;
$base-line-height: 1.4;

// Colors
$green: #8ABD5F;
$red: #D46A6A;
$grey: #bbb;

body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
}

h1, h2, h3{
  font-weight: $bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include breakpoint(sm) {
    text-align: center;
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

table {
  border-collapse: collapse;
  width: 100%;
  tr {
    td {
      padding: 3px 0;
      &:first-child {
        padding: 3px 0 3px 10px;
        text-align: left;
        @include breakpoint(sm) {
          padding: 3px 0 3px 20px;
        }
      }
    }
    th {
      letter-spacing: 1px;
      padding: 3px 5px;
    }
    &:nth-child(even) {
      background: rgba(0,0,0,.075);
    }
  }
}
