.row {
  .column {
    float: left;
  }
  .col-4-lg {
    width: 33.33333333333%;
  }
  @include breakpoint(md) {
   .col-6-md {
      width: 50%;
    }
  }
  @include breakpoint(sm) {
   .col-12-sm {
      width: 100%;
    }
  }
}
